/* 
    Created on : 14/02/2015, 17:03:55
    Author     : villaca
*/

.header{background:#f4f0ee}
#logo{
    position: relative;
    top: 10px;
    left: 10px;
}

.content{background:#f6f6f6}

footer{
    background: #f8f8f8;
}