{% extends "::base.html.twig" %}

{% block title %}Skilo : Home{% endblock %}

{% block body %}



    <!-- Page Layout here -->
    <div class="row">



        <div class="col s12 m12 l12 header"> <!-- Note that "m4 l3" was added -->

            <div class="row">

                <div class="col s12 m4 l3">

                    <img id="logo" height="140" src="{{asset('bundles/framework/img/logo.png')}}" alt="" />

                </div>

                <div class="col s12 m4 l6">

                    <nav>
                        <div class="nav-wrapper">
                            <div class="col s12">                                
                                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                                <ul class="right hide-on-med-and-down">
                                    <li><a href="sass.html">Sass</i></a></li>
                                    <li><a href="components.html">Components</a></li>
                                    <li><a href="javascript.html">Javascript</a></li>
                                    <li><a href="mobile.html">Mobile</a></li>
                                </ul>
                                <ul class="side-nav" id="mobile-demo">
                                    <li><a href="sass.html">Sass</i></a></li>
                                    <li><a href="components.html">Components</a></li>
                                    <li><a href="javascript.html">Javascript</a></li>
                                    <li><a href="mobile.html">Mobile</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                </div>

                <div class="col s12 m4 l3 buttons-header">
                    <a class="waves-effect waves-teal btn-flat">Criar Conta</a>
                    <a class="waves-effect waves-light btn">Entrar</a>
                </div>

            </div>

        </div>

        <div class="col s12 m12 l12 content"> <!-- Note that "m8 l9" was added -->
            content
            <!-- Teal page content
    
                  This content will be:
              9-columns-wide on large screens,
              8-columns-wide on medium screens,
              12-columns-wide on small screens  -->

        </div>

        <footer class="col s12 m12 l12"> <!-- Note that "m8 l9" was added -->
            content
            <!-- Teal page content
    
                  This content will be:
              9-columns-wide on large screens,
              8-columns-wide on medium screens,
              12-columns-wide on small screens  -->

        </footer>

    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".button-collapse").sideNav();
        });
    </script>

{% endblock %}
